body,
div,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

/*
For CSS gradient
https://www.w3schools.com/css/css3_gradients.asp
*/
.titlebar {
  color: white;
  background: #0D47A1;
  background: -webkit-linear-gradient(left, #0D47A1 , #BBDEFB);
  background: -o-linear-gradient(right, #0D47A1, #BBDEFB);
  background: -moz-linear-gradient(right, #0D47A1, #BBDEFB);
  background: linear-gradient(to right, #0D47A1 , #BBDEFB);
  margin-top: 4px;
  margin-bottom: 4px;
}

html {
  background-color: #009688;
}

body {
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 32px;
  margin-bottom: 32px;
  padding: 4px;
  background-color: #9E9E9E;
}

#main {
  background: #9E9E9E;
}

.clear-fix {
  overflow: auto;
}

.education-entry,
.work-entry,
.project-entry {
  padding: 0 5%;
}

h1 {
  font-size: 40px;
  line-height: 48px;
  display: inline;
}

h2 {
  font-weight: bold;
  font-size: 24px;
  color: #0D47A1;
}

h3 {
  font-style: italic;
  font-size: 20px;
  color: #000;
  line-height: 22px;
}

h4 {
  font-weight: bold;
  font-size: 14px;
  color: #4a4a4a;
  line-height: 17px;
}

h2,
h3,
h5 {
  padding: 10px 5%;
}


.date-text {
  font-style: italic;
  font-size: 14px;
  color: #999;
  line-height: 16px;
  float: left;
}

.location-text {
  font-style: italic;
  font-size: 14px;
  color: #999;
  line-height: 16px;
  float: right;

}

p {
  font-size: 14px;
  color: #333;
  line-height: 21px;
}

a {
  color: #0D47A1;
  text-decoration: none;
  margin-top: 10px;
  display: block;
}

h4 {
  color: #0D47A1;
  text-decoration: none;
  margin-top: 10px;
}

.welcome-message {
  font-style: italic;
  font-size: 18px;
  line-height: 28px;
}

#skills-h3 {
  display: none;
}

.gray {
  background-color: #E0E0E0;
  padding-bottom: 10px;
  clear: both;
}

/* full screen background image
https://css-tricks.com/perfect-full-page-background-image/
*/
#header {
  background: url(../images/clouds.jpg) no-repeat center center;
  background-size: cover;
  background-color: #484848;
}

#topContacts {
  background: #ffffff;
  border: 4px solid #9E9E9E;
}

.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

.flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 10px;
}

.app-icon {
  width: 64px;
}

.app-icon-image {
  display: block;
  margin: auto;
}

.app-icon-text {
  text-align: center;
  word-wrap: break-word;
  user-select: none;
  cursor: default;
}

.center-content {
  padding: 2.5% 5%;
}

ul {
  list-style-type: none;
}

.biopic {
  float: left;
  padding: 10px;
  width: 200px;
  display: none;
}

img {
  padding: 10px;
}

span {
  padding: 5px;
}

#lets-connect {
  text-align: center;
}

/* Media queries to handle various device widths */

@media only screen and (max-width: 1024px) {
  #lets-connect {
    margin-top: 5%;
  }
}

@media only screen and (max-width:900px) {
  .biopic {
    width: 175px;
  }
}

@media only screen and (max-width: 750px) {
  #lets-connect {
    margin-top: 10%;
  }
  .biopic {
    width: 150px;
  }
  .welcome-message {
    display: none;
  }
}

#map {
  display: block;
  height: 100%;
  margin: 0 5%;
}

#mapDiv {
  height: 400px;
  width: 100%;
  padding-bottom: 5%;
}

@media only screen and (min-width: 750px) {
  #skills-h3,
  .biopic {
    display: block;
  }
}

/* text selection should be dark blue, with white text
https://css-tricks.com/overriding-the-default-text-selection-color-with-css/
*/

::selection {
  color: white;
  background: #0D47A1;
}

::-moz-selection {
  color: white;
  background: #0D47A1;
}
